* {
  margin: 0;
  padding: 0;
}
.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.enlaces_hover {
  transition: opacity 0.3s;
}

.enlaces_hover:hover {
  opacity: 0.5;
}

/* inicio sección header */

.header {
  height: 100vh;
  width: 100%;
  min-height: 600px;
  max-height: 756px;
  /* parameters for the header section */
  display: flex;
  overflow: hidden;
  position: relative;
}

.header__logo {
  position: absolute;
  top: 30px;
  left: 64px;
  height: 31px;
  width: 154px;
  z-index: 1;
}

.header__title {
  width: 730px;
  font-size: 102px;
  font-weight: bold;
  line-height: 96px;

  /*centrado de titulo v1*/
  margin: auto 0 auto 64px;

  /*centrado de titulo v2
  align-self: center;
  */
  z-index: 1;
}

.header__subtitle {
  position: absolute;
  bottom: 30px;
  left: 64px;
  width: 388px;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  z-index: 1;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
  transform: opacity 2s;
}

.header__main-illustration {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 608px;
  width: 756px;
}

.header__square {
  position: absolute;
  top: 64px;
  right: 0;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  z-index: -1;
}

.rotacion {
  animation: rotacion 20s linear infinite;
}

@keyframes rotacion {
  0% {
    transform: rotate(15deg);
  }

  100% {
    transform: rotate(375deg);
  }
}

/* fin sección header */

/* inicio sección descripción */

.description {
  width: 100%;
  padding-top: 100px;
}

.two-columns {
  width: 80%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

.two-columns__brief {
  height: 100%;
  width: 175px;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  color: #2f80ed;
}

.two-columns__main-text {
  height: 100%;
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
}

.two-columns__paragraph_margin_botton {
  margin-bottom: 30px;
}

.two-columns__span-accent {
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
}
/* fin sección descripción */

/* inicio sección techniques */

.techniques {
  width: 100%;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cards {
  width: 920px;
  display: flex;
  flex-wrap: wrap;
}

.cards__item:nth-child(3n + 2) {
  margin: 0 100px;
}

.cards__item {
  width: 240px;
  padding-top: 60px;
}

.cards__image {
  border-radius: 50%;
  height: 160px;
  width: 160px;
  box-sizing: border-box;
  margin: 0 40px 43px 40px;
}

.cards__title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.15;
  margin-bottom: 16px;
}

.cards__description {
  text-align: center;
  font-size: 18px;
  font-weight: normal;
  line-height: 23px;
}

/* inicio sección techniques */

/* inicio sección video */
.video {
  width: 100%;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.video__iframes {
  width: 1050px;
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 50px;
}

.video__iframe {
  width: 515px;
  height: 316px;
}

/* fin sección video */

/* inicio sección oakley*/

.oakley {
  padding-top: 160px;
  background-color: #f2f2f2;
}

/* fin sección oakley*/

/*inicio sección digits*/

.digits {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
}

.section-title {
  width: 60%;
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: 20px;
}

.section-subtitle {
  width: 60%;
  text-align: center;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
}

.table {
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.table__cell {
  margin-top: 60px;
  width: 250px;
}

.table__heading {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: 20px;
}

.table__text {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
}

.table__text_margin_top {
  margin-top: 20px;
}
/*fin sección digits*/

/*inicio sección feynman*/

.feynman {
  height: 790px;
  position: relative;
  box-sizing: border-box;
  padding-top: 100px;
  background-color: #f2f2f2;
  background-image: url("/images/feynman.png");
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 867px 637px;
}

.feynman__title {
  width: 775px;
  margin: 0 auto 70px auto;
  text-align: center;
  font-size: 120px;
  font-weight: bold;
  line-height: 1.15;
}

.feynman__subtitle {
  width: 347px;
  margin: 0 auto;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
}

/*
.feynman__background-image {
  height: 637px;
  width: 867px;
  border: 1px solid;
}
*/

.feynman__link {
  position: absolute;
  right: 48px;
  top: 50%;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  color: #2f80ed;
  text-decoration: none;
}

/*fin sección feynman*/

/* inicio sección oakley*/

.khan {
  display: flex;
  justify-content: center;
  padding-top: 105px;
  background-color: #f2f2f2;
}

.khan__container {
  width: 80%;
  position: relative;
}

.khan__autor {
  font-size: 30px;
  font-weight: normal;
  line-height: 42px;
}

.khan__title {
  font-size: 60px;
  font-weight: bold;
  line-height: 1.15;
  margin-bottom: 50px;
}

.khan__quote {
  width: 790px;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
  margin-bottom: 36px;
}

.khan__quote-author {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.15;
  margin-bottom: 10px;
}

.khan__quote-author-subline {
  font-size: 24px;
  font-weight: normal;
  line-height: 1.15;
  margin-bottom: 68px;
}

.khan__book-container {
  height: 620px;
  width: 608px;
}

.khan__book-pick {
  width: 100%;
}

.khan__buy-link {
  position: absolute;
  font-size: 30px;
  font-weight: normal;
  line-height: 42px;
  text-decoration: none;
  color: #2f80ed;
  left: 50%;
}

/* fin sección oakley*/

/* inicio sección kaufman*/
.kaufman {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*color: white;
  */
  background-color: black;
  padding: 90px 0;
  overflow: hidden;
  z-index: 0;
}

.section-title_theme_dark {
  color: white;
  line-height: 1.15;
}

.section-subtitle_theme_dark {
  color: white;
}

.table_theme_dark {
  color: white;
}

.table__cell_theme_dark {
  width: 200px;
  /*margin-top: 80px;*/
}

.table__heading_theme_dark {
  color: white;
  line-height: 1.15;
}

.table__text_theme_dark {
  color: white;
}

.kaufman__triangle {
  height: 636px;
  width: 660px;
  position: absolute;
  top: 0;
  right: -160px;
  z-index: -1;
  animation: rotacion 20s linear infinite;
}

/*fin sección kaufman*/

/* inicio sección resources*/
.resources {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0 217px 0;
}

.resources__logo-zone {
  display: flex;
  margin-top: 80px;
}

.resources__logo {
  height: 38px;
  width: 270px;
}
/* inicio sección resources*/

/* inicio sección footer */

.footer {
  height: 350px;
  box-sizing: border-box;
  background-color: black;
  color: white;
  padding: 60px 0 40px 0;
}

.footer__columns {
  height: 100%;
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.footer__columns_content_copyright {
  height: 100%;
  width: 711px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;
}

.logo_place_footer {
  height: 35px;
  width: 183px;
}

.footer__author {
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  margin: 18px 0;
}

.footer__column-heading {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  margin-bottom: 20px;
}

.footer__columns_content_about {
  height: 100%;
}

.footer__list {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.footer__column-link {
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
  text-decoration: none;
  color: white;
}

.footer__columns_content_social {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.footer__social-icons {
  height: 16px;
  width: 16px;
  margin-right: 10px;
}

/* fin sección footer */
